@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
}

.admin-dashboard * {
	box-sizing: border-box;
}

/* # global positioning */

.admin-dashboard {
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

.admin-dashboard__nav-content {
	display: flex;
	flex: 1;
}

/* # page sections */

/* ## header */
.admin-dashboard__header {
	display: flex;
	height: 100px;
	padding: 28px;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	background: #fbf5f2;
}

.admin-dashboard__user-notifications {
	display: flex;
	align-items: center;
	gap: 24px;
}

.admin-dashboard__profile-pic,
.admin-dashboard__notifications {
	height: 54px;
	width: 54px;
	border-radius: 50%;
	overflow: hidden;
}

.admin-dashboard__user-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.admin-dashboard__notifications {
	background-color: rgba(241, 215, 204, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.admin-dashboard__notification-bubble {
	height: 14px;
	width: 14px;
	border-radius: 50%;
	outline: 2px solid rgba(241, 215, 204, 1);
	background-color: rgba(222, 90, 97, 1);
	color: #fff;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 15px;
	right: 9px;
}

/* ## dashboard panel */

.admin-dashboard__nav {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 170px;
	background: #efe9e8;
}

/* ## accordion content */

.accordion-content {
	/* display: block; */
	/* display: none; */
	max-height: 0px;
	overflow: hidden;
	transition: max-height 400ms ease-in-out;
}

.accordion-content.active {
	/* display: block; */
	/* height: auto; */
	max-height: 100%;
}

/* ## dashboard content */

.admin-dashboard__content {
	background-color: #fff;
	padding: 50px;
	flex-grow: 1;
}

/* ## tab content */
.tabcontent {
	display: none;
}

.tabcontent--active {
	display: block;
}

/* # buttons and interactions */

.admin-dashboard__nav .dashboard__button {
	color: #233235;
	height: 46px;
	width: 100%;
	border: none;
	display: flex;
	gap: 15px;
	align-items: center;
	padding-left: 19px;
	cursor: pointer;
	position: relative;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;

	/* ## main buttons */
	&.main {
		background-color: #efe9e8;

		/* ### active styles */
		&.active {
			background-color: rgba(184, 209, 209, 1);

			/* adds border to active class */
			&:before {
				content: '';
				width: 6px;
				height: 100%;
				background-color: rgba(0, 125, 122, 1);
				position: absolute;
				left: 0;
			}

			/* active arrow */
			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				border-width: 14px;
				border-style: solid;
				border-right-color: #fff;
				border-bottom-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				z-index: 100;
			}
		}

		/* ### hover styles */
		&:hover:not(.active) {
			background-color: rgba(251, 245, 242, 1);

			/* applies left border */
			&:before {
				content: '';
				width: 6px;
				height: 100%;
				background-color: #f1d7cc;
				position: absolute;
				left: 0;
			}
		}
	}

	/* ## accordion buttons */
	&.sub {
		background-color: rgba(229, 241, 241, 1);

		/* ### active styles */
		&.active {
			background-color: rgba(211, 234, 234, 1);
			font-weight: 700;

			/* adds active border to active class */
			&:before {
				content: '';
				width: 6px;
				height: 100%;
				background-color: rgba(184, 209, 209, 1);
				position: absolute;
				left: 0;
			}
		}

		/* ### hover styles */
		&:hover:before {
			content: '';
			width: 6px;
			height: 100%;
			background-color: rgba(184, 209, 209, 1);
			position: absolute;
			left: 0;
		}
	}

	/* ### focus styles */
	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 2px solid #007d7a;
		z-index: 100;
	}
}

/* # media queries */
@media (min-width: 1024px) {
	.admin-dashboard__nav {
		width: 348px;
	}

	.admin-dashboard__content {
		padding: 50px 120px;
	}
}
